body {
	color: #009fdd;
	font-family: arial, verdana, sans-serif;
	background: #e8f5fc;
}

div.tabHeader {
	height: 32px;
	overflow: hidden;
  background-color: #f2b005;
}

div.tabHeader a {
	float: left;
  font-size: 1.3em;
  font-weight: bold;
	display: block;
	width: 200px;
	text-align: center;
	height: 28px;
	padding-top: 3px;
	vertical-align: middle;
	border: 3px solid #f2b005; 
	border-bottom-width: 0;
	text-decoration: none;  
	color: #ffffff;
}

div.tabHeader a:hover,div.tabHeader a.Active {
	background-color: #f2b005;
  color: #009fdd;
}

div.tabHeader a.on {
	color: #009fdd;
}

div.tabs {
	clear: both;
  padding-left: 10px;
	border: 3px solid #f2b005;
	overflow: hidden;
}

.value {
  color: #d20107
}


input[type=range] {
	padding: 0 5px;
	width: 200px;
}

a {
	color: #009fdd;
}

h1 {
	color: #009fdd;
	font-size: 2.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	color: #009fdd;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0px 0px 0px 0px;
}

/* for safari  */
input[type="range"]{
   -webkit-appearance:none !important;
   background: rgb(FF, FF, FF);
    width: 200px;
    height: 6px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}
 }
